tqdm 
pandas 
geopandas 
simpledbf 
matplotlib 
rtree
rasterio==1.1.3
fiona==1.8.13.post1
rio-tiler-mosaic
simplejson
vega==0.5
descartes
plotly
pivottablejs
cufflinks
LMIPy
statsmodels
ipyleaflet
nbdime
tinycss2
autopep8
termcolor
graphviz
rasterstats
rio-cogeo
appdirs
Click>=6.0
cachetools
geocube
pycountry
